.profilepic{
  max-width:60%;
  border-radius: 50%;
  height: auto;
  padding: 10px;

}
.card{
  max-width:250px;
  height: auto;
  border:2px, solid, rgb(168, 160, 160);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(146, 143, 143);
  padding: 20px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}